.card {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 15px;
    padding: 0.5rem;
    background-color: white;
}

.image {
    width: 100%;
}

.h3 {
    font-size: 16px;
    text-align: center;
}